{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block content %}
<div class="container">
  <h2>Now look at the URL and observe how it looks</h2>
  <table class="table">
    <tr>
      <th>Name</th>
      <td>{{ student.name }}</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>{{ student.age }}</td>
    </tr>
    <tr>
      <th>Phone Number</th>
      <td>{{ student.phone_number }}</td>
    </tr>
    <tr>
      <th>Roll Number</th>
      <td>{{ student.roll_number }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ student.email }}</td>
    </tr>
    <tr>
      <th>Course</th>
      <td>{{ student.course }}</td>
    </tr>
  </table>
  <a href="{% url 'home'%}" class="btn btn-primary">Back</a>
</div>
{% endblock %}
